<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<div th:if="${error}">
			Unable to login. Check username and password.
		</div>
		
		<p>
			admin:pass1<br />
			user1:pass2
		</p>
		<form method="POST" th:action="@{/login}">
			<div class="mb-3">
				<label class="form-label" for="username">Username:</label>
				<input class="form-control" type="text" name="username" id="username" /><br />
			</div>
	
			<div class="mb-3">
				<label class="form-label" for="password">Password:</label>
				<input class="form-control" type="password" name="password" id="password" /><br />
			</div>
			
			<input class="btn btn-primary m-3" type="submit" value="Login"/>
			<a th:href="@{/registration}">Register</a>
		</form>
	</div>
	
	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>