<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<h1>Root</h1>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
