<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Add Authority</h1>
		<form method="POST" th:action="@{add}" th:object="${authorityToUpdate}">
			<div class="row">
				<div class="col">
					<label class="form-label" for="user">User:</label>
					<select class="form-select" th:field="*{userId}">
						<option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}" />
					</select>
					<ul class="text-danger" th:if="${#fields.hasErrors('userId')}">
						<li th:each="err : ${#fields.errors('userId')}" th:text="${err}">ERROR</li>
					</ul>

					<label class="form-label" for="role">Role:</label>
					<select class="form-select" th:field="*{role}">
						<option th:each="role : ${roles}" th:value="${role}" th:text="${role}" />
					</select>
					<ul class="text-danger" th:if="${#fields.hasErrors('role')}">
						<li th:each="err : ${#fields.errors('role')}" th:text="${err}">ERROR</li>
					</ul>
				</div>
			</div>
			<button class="btn btn-primary">Add authority</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
