<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Add Keyword</h1>
		<form method="POST" th:action="@{add}" th:object="${keywordToUpdate}">
			<div class="row">
				<label class="form-label" for="theme">Theme:</label>
				<select class="form-select" th:field="*{themeId}">
					<option th:each="theme : ${themes}" th:value="${theme.id}" th:text="${theme.name}" />
				</select>

				<label class="form-label" for="keyword">Keyword:</label>
				<input class="form-control" type="text" name="keyword" th:value="*{keyword}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('keyword')}">
					<li th:each="err : ${#fields.errors('keyword')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Add keyword</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
