<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Add Page</h1>
		<form method="POST" th:action="@{add}" th:object="${pageToUpdate}">
			<div class="form-group">
				<label class="form-label" for="site">Site:</label>
				<select class="form-select" th:field="*{siteId}">
					<option th:each="site : ${sites}" th:value="${site.id}" th:text="${site.url}" />
				</select>

				<label class="form-label" for="pageUrl">Url:</label>
				<input class="form-control" type="text" name="pageUrl" th:value="*{pageUrl}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('pageUrl')}">
					<li th:each="err : ${#fields.errors('pageUrl')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Add page</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
