<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Add Theme</h1>
		<form method="POST" th:action="@{add}" th:object="${themeToUpdate}">
			<div class="form-group">
				<label class="form-label" for="name">Name:</label>
				<input class="form-control" type="text" name="name" th:value="*{name}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('name')}">
					<li th:each="err : ${#fields.errors('name')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Add theme</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
