<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Add User</h1>
		<form method="POST" th:action="@{add}" th:object="${userToUpdate}">
			<div class="form-group">
				<label class="form-label" for="username">Username:</label>
				<input class="form-control" type="text" name="username" th:value="*{username}" /><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('username')}">
					<li th:each="err : ${#fields.errors('username')}" th:text="${err}">ERROR</li>
				</ul>

				<label class="form-label" for="password">Password:</label>
				<input class="form-control" type="text" name="password" th:value="*{password}" /><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('password')}">
					<li th:each="err : ${#fields.errors('password')}" th:text="${err}">ERROR</li>
				</ul>

				<label class="form-label" for="email">E-mail:</label>
				<input class="form-control" type="text" name="email" th:value="*{email}" /><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('email')}">
					<li th:each="err : ${#fields.errors('email')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Add user</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
