<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Update Authority</h1>
		<form method="POST" th:action="@{update}" th:object="${authorityToUpdate}">
			<div class="row">
				<div class="col">
					<label class="form-label" for="username">Username:</label>
					<input class="form-control" type="text" name="username" th:value="*{username}" disabled /><br />
					<input type="hidden" name="userId" th:value="*{userId}"/><br />
					<ul class="text-danger" th:if="${#fields.hasErrors('userId')}">
						<li th:each="err : ${#fields.errors('userId')}" th:text="${err}">ERROR</li>
					</ul>
					
					<label class="form-label" for="role">Role:</label>
					<select class="form-select" th:field="*{role}">
						<option th:each="role : ${roles}" th:value="${role}" th:text="${role}" />
					</select>
					<ul class="text-danger" th:if="${#fields.hasErrors('role')}">
						<li th:each="err : ${#fields.errors('role')}" th:text="${err}">ERROR</li>
					</ul>
				</div>
			</div>
			<button class="btn btn-primary">Update authority</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
