<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Update Keyword</h1>
		<form method="POST" th:action="@{update}" th:object="${keywordToUpdate}">
			<div class="form-group">
				<label class="form-label" for="theme">Theme:</label>
				<input class="form-control" type="text" name="themeName" th:value="*{themeName}" disabled /><br />
				<input type="hidden" name="themeId" th:value="*{themeId}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('themeId')}">
					<li th:each="err : ${#fields.errors('themeId')}" th:text="${err}">ERROR</li>
				</ul>

				
				<label class="form-label" for="keyword">Keyword:</label>
				<input class="form-control" type="text" name="keyword" th:value="*{keyword}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('keyword')}">
					<li th:each="err : ${#fields.errors('keyword')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Update keyword</button>
		</form>

	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
