<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Update Page</h1>
		<form method="POST" th:action="@{update}" th:object="${pageToUpdate}">
			<div class="form-group">
				<label class="form-label" for="site">Site:</label>
				<input class="form-control" type="text" name="siteUrl" th:value="*{siteUrl}" disabled /><br />
				<input type="hidden" name="siteId" th:value="*{siteId}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('siteId')}">
					<li th:each="err : ${#fields.errors('siteId')}" th:text="${err}">ERROR</li>
				</ul>
				
				
				<label class="form-label" for="url">Url:</label>
				<input class="form-control" type="text" name="pageUrl" th:value="*{pageUrl}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('pageUrl')}">
					<li th:each="err : ${#fields.errors('pageUrl')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Update page</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
