<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Update Site</h1>
		<form method="POST" th:action="@{update}" th:object="${siteToUpdate}">
			<div class="form-group">
				<label class="form-label" for="url">Url:</label>
				<input class="form-control" type="text" name="url" th:value="*{url}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('url')}">
					<li th:each="err : ${#fields.errors('url')}" th:text="${err}">ERROR</li>
				</ul>

				<label class="form-label" for="description">Description:</label>
				<input class="form-control" type="text" name="description" th:value="*{description}"/><br />
				<ul class="text-danger" th:if="${#fields.hasErrors('description')}">
					<li th:each="err : ${#fields.errors('description')}" th:text="${err}">ERROR</li>
				</ul>
			</div>
			<button class="btn btn-primary">Update site</button>
		</form>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
