<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Authorities</h1>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Username</th>
					<th scope="col">Role</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="authority : ${authorities}">
					<td><input name="authorityId" type="checkbox" th:value="${authority.id}" /></td>
					<td th:text="${authority.username}">USERNAME</td>
					<td th:text="${authority.role}">ROLES</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-danger btn-sm" th:href="'authorities/' + ${authority.id} + '/delete'">Delete</a></td>
						<td><a class="btn btn-warning btn-sm" th:href="'authorities/' + ${authority.id} + '/update'">Update</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-sm" th:href="@{authorities/add}">Add Authority</a>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
