<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Matches</h1>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Theme</th>
					<th scope="col">Page</th>
					<th scope="col">Counts</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Delete</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="match : ${matches}">
					<td><input name="matchId" type="checkbox" th:value="${match.id}" /></td>
					<td th:text="${match.themeName}">THEME</td>
					<td th:text="${match.pageName}">PAGE_URL</td>
					<td th:text="${match.counts}">COUNTS</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-danger btn-sm" th:href="'matches/' + ${match.id} + '/delete'">Delete</a></td>
					</div>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
