<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Pages</h1>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Site URL</th>
					<th scope="col">Page URL</th>
					<th scope="col">Found date time</th>
					<th scope="col">Last scan date time</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="page : ${pages}">
					<td><input name="pageId" type="checkbox" th:value="${page.id}" /></td>
					<td th:text="${page.siteUrl}">SITE</td>
					<td th:text="${page.pageUrl}">PAGEURL</td>
					<td th:text="${page.registered}">REGISTERED</td>
					<td th:text="${page.lastScan}">LASTSCAN</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-danger btn-sm" th:href="'pages/' + ${page.id} + '/delete'">Delete</a></td>
						<td><a class="btn btn-warning btn-sm" th:href="'pages/' + ${page.id} + '/update'">Update</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-sm" th:href="@{pages/add}">Add Page</a>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
