<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Themes</h1>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Theme</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="theme : ${themes}">
					<td><input name="themeId" type="checkbox" th:value="${theme.id}" /></td>
					<td th:text="${theme.name}">THEME</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-danger btn-sm" th:href="'themes/' + ${theme.id} + '/delete'">Delete</a></td>
						<td><a class="btn btn-warning btn-sm" th:href="'themes/' + ${theme.id} + '/update'">Update</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-sm" th:href="@{themes/add}">Add Theme</a>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
