<!-- Header -->
<head th:replace="fragments/header">
</head>
<body>
	<!-- Navbar -->
	<nav th:replace="fragments/navbar :: navbar"></nav>

	<div class="container">
		<h1>Users</h1>
		<table class="table table-striped">
			<thead class="table-dark">
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Username</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Password</th>
					</div>
					<th scope="col">E-mail</th>
					<th scope="col">Enabled</th>
					<th scope="col">Registered</th>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<th scope="col">Delete</th>
						<th scope="col">Update</th>
					</div>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}">
					<td><input name="userId" type="checkbox" th:value="${user.id}" /></td>
					<td th:text="${user.username}">USERNAME</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td th:text="${user.password}">PASSWORD</td>
					</div>
					<td th:text="${user.email}">EMAIL</td>
					<td th:text="${user.enabled}">ENABLED</td>
					<td th:text="${user.registered}">REGISTERED</td>
					<div sec:authorize="hasRole('ROLE_ADMIN')">
						<td><a class="btn btn-danger btn-sm" th:href="'users/' + ${user.id} + '/delete'">Delete</a></td>
						<td><a class="btn btn-warning btn-sm" th:href="'users/' + ${user.id} + '/update'">Update</a></td>
					</div>
				</tr>
			</tbody>
		</table>
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<a class="btn btn-primary btn-sm" th:href="@{users/add}">Add User</a>
		</div>
	</div>

	<!-- Footer -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
