<div th:fragment="logout" class="text-white" sec:authorize="isAuthenticated()">
	<span>
	    Logged in user: <span sec:authentication="name"></span><br />
	    Roles: <span sec:authentication="principal.authorities"></span>
	</span>

	<span>
		<a class="btn btn-primary" th:href="@{/logout}">Logout</a>
	</span>
</div>
