<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/images/image.jpg}" style="width: 50px; height: 50px;" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				<li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/keywords}">Keywords</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/pages}">Pages</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/authorities}">Authorities</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/sites}">Sites</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/themes}">Themes</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/matches}">Matches</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/users}">Users</a></li>

			</ul>
		</div>
		<div th:replace="fragments/logout">
		</div>
	</div>
</nav>
